---
const { title, url, description, image } = Astro.props;
---

<li>
  <a href={url} title={title}>
    <img class="aspect-[4/4] object-cover" src={image} alt={title} />
    <article class="mt-4">
      <p class="text-gray-900 font-semibold uppercase">{title}</p>
      <p class="text-gray-500 font-normal">{description}</p>
    </article>
  </a>
</li>
