---
import { Image } from 'astro:assets';
const { title, url, pubDate, description, image, alt } = Astro.props;
---
<div class="grid grid-cols-4 gap-x-16 gap-y-4 pt-48 pb-16 border-b border-gray-50">
	<div class="col-span-3 col-start-2">
		<a href={url} class="flex w-full items-center justify-between gap-8 group">
			<h1>{title}</h1>
			<svg class="h-[2em] w-[2em] opacity-0 -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 duration-200 ease-out text-inherit fill-current leading-none" viewBox="0 0 48 48">
				<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<line x1="37" y1="14" x2="47" y2="24" />
					<line x1="47" y1="24" x2="37" y2="34" />
					<line x1="47" y1="24" x2="1.5" y2="24" />
				</g>
			</svg>
		</a>
	</div>
	<div class="col-span-1">
		<time datetime={`${pubDate.toISOString()}`} class="pt-0 mb-0 text-current text-sm tracking-wider uppercase">
			{`${
			pubDate.toLocaleDateString('en-gb', {
			year: 'numeric',
			month: 'long',
			day: '2-digit',
			})
			}`}
		</time>
	</div>
	<div class="col-span-3">
		<p>{description}</p>
	</div>
	<div class="col-span-4 aspect-[16/9]">
		<Image src={image} alt={alt} class="object-cover w-full h-full mt-4" />
	</div>
</div>
