---
import { getCollection } from "astro:content";
import PortfolioItem from "@/components/entries/PortfolioItem.astro";
const allPortfolioPosts = await getCollection("portfolio");
---

<section>
    <div class="max-w-7xl mx-auto px-4 lg:px-8">
        <h2
            class="text-right uppercase text-xs tracking-wide leading-normal font-extralight text-gray-500">
            Selected Works
        </h2>
    </div>
    <div class="max-w-screen-2xl mx-auto px-4 lg:px-8">
        {
            allPortfolioPosts
                .sort(
                    (a, b) =>
                        Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
                )
                .slice(0, 2)
                .map((post, index) => (
                    <PortfolioItem
                        url={`/portfolio/${post.slug}/`}
                        title={post.data.title}
                        pubDate={post.data.pubDate}
                        tags={post.data.tags}
                        description={post.data.description}
                        image={post.data.image.url}
                        alt={post.data.image.alt}
                        linktext={post.data.linkText}
                        position={index}
                    />
                ))
        }
    </div>
    <p class="max-w-7xl mx-auto px-4 lg:px-8 mb-8 mt-8 lg:mb-16">
        <a href="/portfolio/" class="btn-text text-sm">More selected works</a>
    </p>
</section>
